/* Shared styles */
* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    border-radius: 5px;
    background: #FFF;
    padding: 20px 25px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-top: 30px;

}

body {
    font-family: "Work Sans", sans-serif;
}

/* header section styles */
header {
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    height: 100vh;
}

.think {
    text-align: right;
    padding: 215px 230px;
}

.think-title {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 25px;
}

.think-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

/* Main part styles */
main {
    max-width: 1400px;
    margin: 0 auto;
}

/* failure section style */

.fail-container {
    display: flex;
    align-items: center;
    gap: 105px;
    margin-top: 140px;
}

.fail {
    margin-top: 150px;
}

.fail-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.fail-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.fail-container li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.fail-container li {
    list-style: circle;
    margin-left: 15px;
}

.check {
    display: inline;
}

/* Plan section styles */
.plans {
    text-align: center;
    margin-top: 120px;
}

.plan-container {
    display: flex;
    justify-content: space-around;
}

.plans-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

/* watch section styles */
.watch {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 300px;
}

.watch-container {
    padding: 60px 65px;
    margin-top: 135px;
}

.watch-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}